In [1]:
import pandas as pd
import numpy as np

pd.set_option('max_columns', None, 'max_rows', None)

In [2]:
raw = pd.read_csv('ckd.csv', dtype=str)
raw.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,49,100,1.01,3,0,abnormal,abnormal,notpresent,notpresent,129,158,11.8,122,3.2,8.1,24,9600,3.5,yes,yes,no,poor,yes,yes,ckd
1,51,80,1.020,0,0,normal,normal,notpresent,notpresent,94,15,1.2,144,3.7,15.5,46,9500,6.4,no,no,no,good,no,no,notckd
2,20,70,1.02,0,0,normal,normal,notpresent,notpresent,123,44,1,135,3.8,14.6,44,5500,4.8,no,no,no,good,no,no,notckd
3,29,70,1.020,0,0,normal,normal,notpresent,notpresent,127,44,1.2,145,5.0,14.8,48,?,?,no,no,no,good,no,no,notckd
4,65,80,1.015,2,1,normal,normal,present,notpresent,215,133,2.5,?,?,13.2,41,?,?,no,yes,no,good,no,no,ckd

### Missing Data Imputation and Encoding

Displaying the rows with most of the values missing.

In [3]:
raw[(raw=='?').sum(axis=1)>10]

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
67,69,60,?,?,?,?,?,notpresent,notpresent,171,26,48.1,?,?,?,?,?,?,yes,no,no,poor,no,no,ckd
127,60,70,?,?,?,?,?,notpresent,notpresent,124,52,2.5,?,?,?,?,?,?,yes,no,no,good,no,no,ckd
130,56,80,?,?,?,?,?,notpresent,notpresent,415,37,1.9,?,?,?,?,?,?,no,yes,no,good,no,no,ckd
149,55,90,?,?,?,?,?,notpresent,notpresent,143,88,2,?,?,?,?,?,?,yes,yes,no,poor,yes,no,ckd
202,74,60,?,?,?,?,?,notpresent,notpresent,108,68,1.8,?,?,?,?,?,?,yes,yes,no,good,no,no,ckd
208,60,80,1.02,0,2,?,?,notpresent,notpresent,?,?,?,?,?,?,?,?,?,no,yes,no,good,no,no,ckd
388,59,100,?,?,?,?,?,notpresent,notpresent,?,96,6.4,?,?,6.6,?,?,?,yes,yes,no,good,no,yes,ckd

Imputing numeric values with the mean over the whole data set.

In [4]:
raw_num = raw[['age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 
               'hemo', 'pcv', 'wbcc', 'rbcc']].apply(pd.to_numeric, errors='coerce')
raw_num.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc
0,49.0,100.0,1.010,3.0,0.0,129.0,158.0,11.8,122.0,3.2,8.1,24.0,9600.0,3.5
1,51.0,80.0,1.020,0.0,0.0,94.0,15.0,1.2,144.0,3.7,15.5,46.0,9500.0,6.4
2,20.0,70.0,1.020,0.0,0.0,123.0,44.0,1.0,135.0,3.8,14.6,44.0,5500.0,4.8
3,29.0,70.0,1.020,0.0,0.0,127.0,44.0,1.2,145.0,5.0,14.8,48.0,NaN,NaN
4,65.0,80.0,1.015,2.0,1.0,215.0,133.0,2.5,NaN,NaN,13.2,41.0,NaN,NaN

In [5]:
num = raw_num.apply(lambda x: x.fillna(x.mean()))
num.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc
0,49.0,100.0,1.010,3.0,0.0,129.0,158.0,11.8,122.000000,3.200000,8.1,24.0,9600.000000,3.500000
1,51.0,80.0,1.020,0.0,0.0,94.0,15.0,1.2,144.000000,3.700000,15.5,46.0,9500.000000,6.400000
2,20.0,70.0,1.020,0.0,0.0,123.0,44.0,1.0,135.000000,3.800000,14.6,44.0,5500.000000,4.800000
3,29.0,70.0,1.020,0.0,0.0,127.0,44.0,1.2,145.000000,5.000000,14.8,48.0,8406.122449,4.707435
4,65.0,80.0,1.015,2.0,1.0,215.0,133.0,2.5,137.528754,4.627244,13.2,41.0,8406.122449,4.707435

Imputing categorical values with different strategy.

In [26]:
cat = raw[['rbc', 'pc', 'pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'class']]
cat = cat.fillna('?')
cat.head()

,rbc,pc,pcc,ba,htn,dm,cad,appet,pe,ane,class
0,abnormal,abnormal,notpresent,notpresent,yes,yes,no,poor,yes,yes,ckd
1,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
2,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
3,normal,normal,notpresent,notpresent,no,no,no,good,no,no,notckd
4,normal,normal,present,notpresent,no,yes,no,good,no,no,ckd

Imputing with a new value and encoding with one-hot encoding.

In [27]:
cat1 = cat[['rbc', 'pc']]
cat1.head()

        rbc        pc
0  abnormal  abnormal
1    normal    normal
2    normal    normal
3    normal    normal
4    normal    normal

In [28]:
bin1 = pd.get_dummies(cat1)
bin1 = bin1.rename(columns={'rbc_?':'rbc_unknown', 'pc_?':'pc_unknown'})
bin1.head()

   rbc_unknown  rbc_abnormal  rbc_normal  pc_unknown  pc_abnormal  pc_normal
0            0             1           0           0            1          0
1            0             0           1           0            0          1
2            0             0           1           0            0          1
3            0             0           1           0            0          1
4            0             0           1           0            0          1

Imputing with the mode over the whole data set and encoding with binary value.

In [29]:
cat2 = cat[['pcc', 'ba', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane']]
cat2.head()

          pcc          ba  htn   dm cad appet   pe  ane
0  notpresent  notpresent  yes  yes  no  poor  yes  yes
1  notpresent  notpresent   no   no  no  good   no   no
2  notpresent  notpresent   no   no  no  good   no   no
3  notpresent  notpresent   no   no  no  good   no   no
4     present  notpresent   no  yes  no  good   no   no

In [30]:
cat2 = cat2.copy()
cat2.loc[283,'appet'] = '?'
cat2.loc[283,'pe'] = '?'

There are eight missing values.

In [31]:
cat2[(cat2=='?').sum(axis=1)>1]

            pcc          ba htn  dm cad appet  pe ane
59            ?           ?  no  no  no  good  no  no
86   notpresent  notpresent   ?   ?   ?  good  no  no
121           ?           ?  no  no  no  good  no  no
182  notpresent  notpresent   ?   ?   ?  good  no  no
191           ?           ?  no  no  no  good  no  no
261           ?           ?  no  no  no  good  no  no
274  notpresent  notpresent  no  no  no     ?   ?   ?
283  notpresent  notpresent  no   ?  no     ?   ?  no

Imputing with the most frequent value.

In [32]:
new_cat2 = cat2.replace('?',np.NaN)
new_cat2 = new_cat2.apply(lambda x: x.fillna(x.value_counts().index[0]))
new_cat2.head()

          pcc          ba  htn   dm cad appet   pe  ane
0  notpresent  notpresent  yes  yes  no  poor  yes  yes
1  notpresent  notpresent   no   no  no  good   no   no
2  notpresent  notpresent   no   no  no  good   no   no
3  notpresent  notpresent   no   no  no  good   no   no
4     present  notpresent   no  yes  no  good   no   no

Encoding with binary values.

In [33]:
bin2 = pd.get_dummies(new_cat2)
bin2 = bin2[['pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes', 'appet_good', 'pe_yes', 'ane_yes']]
bin2.head()

,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_good,pe_yes,ane_yes
0,0,0,1,1,0,0,1,1
1,0,0,0,0,0,1,0,0
2,0,0,0,0,0,1,0,0
3,0,0,0,0,0,1,0,0
4,1,0,0,1,0,1,0,0

Encoding label to be binary values.

In [34]:
label = cat.iloc[:,-1]
label.head()

0       ckd
1    notckd
2    notckd
3    notckd
4       ckd
Name: class, dtype: object

In [35]:
label = pd.get_dummies(label)
label = label.iloc[:,0]
label.head()

0    1
1    0
2    0
3    0
4    1
Name: ckd, dtype: uint8

Merging together.

In [36]:
feature = pd.concat([num, bin1, bin2], axis=1)
feature.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc,rbc_unknown,rbc_abnormal,rbc_normal,pc_unknown,pc_abnormal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_good,pe_yes,ane_yes
0,49.0,100.0,1.010,3.0,0.0,129.0,158.0,11.8,122.000000,3.200000,8.1,24.0,9600.000000,3.500000,0,1,0,0,1,0,0,0,1,1,0,0,1,1
1,51.0,80.0,1.020,0.0,0.0,94.0,15.0,1.2,144.000000,3.700000,15.5,46.0,9500.000000,6.400000,0,0,1,0,0,1,0,0,0,0,0,1,0,0
2,20.0,70.0,1.020,0.0,0.0,123.0,44.0,1.0,135.000000,3.800000,14.6,44.0,5500.000000,4.800000,0,0,1,0,0,1,0,0,0,0,0,1,0,0
3,29.0,70.0,1.020,0.0,0.0,127.0,44.0,1.2,145.000000,5.000000,14.8,48.0,8406.122449,4.707435,0,0,1,0,0,1,0,0,0,0,0,1,0,0
4,65.0,80.0,1.015,2.0,1.0,215.0,133.0,2.5,137.528754,4.627244,13.2,41.0,8406.122449,4.707435,0,0,1,0,0,1,1,0,0,1,0,1,0,0

In [37]:
result = pd.concat([feature, label], axis=1)
result.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wbcc,rbcc,rbc_unknown,rbc_abnormal,rbc_normal,pc_unknown,pc_abnormal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_good,pe_yes,ane_yes,ckd
0,49.0,100.0,1.010,3.0,0.0,129.0,158.0,11.8,122.000000,3.200000,8.1,24.0,9600.000000,3.500000,0,1,0,0,1,0,0,0,1,1,0,0,1,1,1
1,51.0,80.0,1.020,0.0,0.0,94.0,15.0,1.2,144.000000,3.700000,15.5,46.0,9500.000000,6.400000,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0
2,20.0,70.0,1.020,0.0,0.0,123.0,44.0,1.0,135.000000,3.800000,14.6,44.0,5500.000000,4.800000,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0
3,29.0,70.0,1.020,0.0,0.0,127.0,44.0,1.2,145.000000,5.000000,14.8,48.0,8406.122449,4.707435,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0
4,65.0,80.0,1.015,2.0,1.0,215.0,133.0,2.5,137.528754,4.627244,13.2,41.0,8406.122449,4.707435,0,0,1,0,0,1,1,0,0,1,0,1,0,0,1

In [38]:
result.to_csv('ckd_imputed_8.csv', index=None)